
#create_new_ads {
    position: absolute;
    background-color: rgb(248, 239, 134);
    border: 1px;
    border-radius: 5px;
    z-index: 999;
    margin-left: 150px;
    margin-top: -10px;
    height: 70px;
    width: 260px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    box-shadow: 2px 2px gray;
    position: absolute;
    
    

}
#create_new_ads a{
    text-decoration: none;
    color: black;   
}

#create_new_ads:hover {
    background-color: rgb(218, 209, 117);
}

#container_menus {
    background: url(/A_bulletin_board_website_cameramarket/style/image/nav.png);
    height: 50px;
    position: relative;
    display: flex;
    left: 0px;
    margin: -50px auto;
    max-width: 1280px;
    
}


#main_menu_ul {
    flex-shrink: 0;
    list-style: none;
    margin-top: 0px;
    
}


#main_menu_ul a:hover {
    text-decoration: underline;
}

.main_menu_list {
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 14px;
    border-right: solid rgb(117, 102, 102) 1px;
    
}

#main_menu_ul a {
    color: #DCDCDC;
    font-size: 20px;
    text-decoration: none;
    
}





#sub_menu {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0px;
    background: white;
    border: 1px solid #DCDCDC;
    padding: 5px;
    margin: 0;
    width: 182px;
    list-style: none;
}
#sub_menu a{
    background: none repeat scroll 0 0 #ecebec;
    border: medium none;
    clear: both;
    color: black;
    display: block;
    float: none; 
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main_menu_list:hover #sub_menu{
    visibility: visible;
}


#sub_menu a:hover {
    text-decoration: underline;
    
}




#sub_menu_camera {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 193px;
    background: white;
    border: 1px solid #DCDCDC;
    padding: 5px;
    margin: 0;
    width: 161px;
    list-style: none;
}
#sub_menu_camera a{
    background: none repeat scroll 0 0 #ecebec;
    border: medium none;
    clear: both;
    color: black;
    display: block;
    float: none;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main_menu_list:hover #sub_menu_camera {
    visibility: visible;
}



#sub_menu_lenses {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 363px;
    background: white;
    border: 1px solid #DCDCDC;
    padding: 5px;
    width: 147px;
    list-style: none;
}
#sub_menu_lenses a{
    background: none repeat scroll 0 0 #ecebec;
    border: medium none;
    clear: both;
    color: black;
    display: block;
    float: none;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main_menu_list:hover #sub_menu_lenses {
    visibility: visible;
}


